# Auto detect text files and perform LF normalization
* text=auto

# HTML
*.html text eol=lf

# CSS
*.css text eol=lf

# JavaScript
*.js text eol=lf
*.json text eol=lf

# Markdown
*.md text eol=lf

# SVG
*.svg text eol=lf

# Archives
*.zip binary
*.tar binary
*.gz binary

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
